---
import PageLayout from "@/layouts/Base"

const meta = {
	title: "About",
	description: "A page about Anthony Campolo and what he does on the web",
}
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>

		<p>
			Coming soon.
		</p>
	</div>
</PageLayout>