---
import PageLayout from "@/layouts/Base"
import BlogPostPreview from "@/components/BlogPostPreview"
import Pagination from "@/components/Paginator"
import { sortMDByDate } from "@/utils"
import type { Post, Page, MDXInstance } from "@/utils"

// const postPreviewList = "flex flex-wrap items-center gap-x-2 [&_q]:w-full mb-8"
const postPreviewList = "flex flex-wrap items-center gap-x-2 [&_q]:w-full"
// const unorderedList12 = "space-y-12"
const unorderedList24 = "space-y-24"

export async function getStaticPaths({ paginate }) {
	const allPosts = await Astro.glob<Post>("../*/*/*/*.mdx")
	const allPostsByDate = sortMDByDate(allPosts)

	return paginate(
		allPostsByDate,
		{ pageSize: 20 }
	)
}

export interface Props {
	page: Page<MDXInstance<Post>>
}

const { page } = Astro.props as Props

const meta = {
	title: "Posts",
	description: "A list of all blog posts currently uploaded to Anthony Campolo's website.",
}

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			url: page.url.prev, text: `← Previous Posts`,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			url: page.url.next, text: `Next Posts →`,
		},
	}),
}
---

<PageLayout meta={meta}>
	<h1 class="mb-6 title">Posts</h1>
	<div>
		<section aria-label="Blog post list">
			<ul class={unorderedList24}>
				{
					page.data.map((p) => (
						<li class={postPreviewList}>
							<BlogPostPreview post={p} as="h2" />
						</li>
					))
				}
			</ul>
			<Pagination {...paginationProps} />
		</section>
	</div>
</PageLayout>