---
import PageLayout from "@/layouts/Base"
import BlogPostPreview from "@/components/BlogPostPreview"
import { sortMDByDate } from "@/util"
import type { Post } from "@/util"

const meta = {
	title: "Anthony Campolo",
	description: "Web developer, writer, speaker, and advocate.",
}

const allPosts = await Astro.glob<Post>("./*.mdx")
const allPostsByDate = sortMDByDate(allPosts).slice(0, 5)
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Anthony Campolo, Developer Advocate</h1>

		<p class="mb-4">
			Oh hello, didn't see you there. This is my blog.
		</p>
		<p class="mb-4">Continue reading to achieve peak blogness.</p>
	</section>

	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-xl title">Recent Posts</h2>
		<ul class="space-y-24">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>